.menu {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 15px 0;

    display: flex;
    align-items: center;
    justify-content: space-between;

    font-family: "Fira Sans", sans-serif;
}

.menu-title {
    margin: 0;
}

.sign-in {
    padding: 8px 18px;
    font-size: 14px;
    font-family: "Fira Sans", sans-serif;
    font-weight: 600;

    color: #006A50;
    background-color: transparent;

    border: 1px solid #006A50;
    border-radius: 5px;

    cursor: pointer;
}

.hero-item {
    padding-left: 40px;

}

.hero {
    background: #C6E4D6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    padding: 20px 0 20px;
    border-radius: 15px;
    font-family: "Fira Sans", sans-serif;
    margin-top: 30px;


}

.hero-title {
    font-size: 45px;
}

.hero-subtitle {
    color: rgba(14, 14, 14, 0.2);
    font-size: medium;

}

.hero-title {}

.hero-btn {
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    background-color: #006A50;
    padding: 15px 25px;
    border-style: none;
    border-radius: 5px;
    letter-spacing: 0px;

}

.hero-img {
    width: 380px;
    height: 300px;
    padding: 20px;
}

.main {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
    font-family: "Fira Sans", sans-serif;
}

.pillar {
    display: flex;
    justify-content: space-evenly;
}

.card-title {
    margin-top: 70px;
    margin-bottom: 40px;
}

.card-design {
    /* width: 250px; */
    height: 200px;
    background: #ffffff;
    border-radius: 12px;
    /* Dark shadow on bottom-right, White highlight on top-left */
    box-shadow:
        6px 6px 16px rgba(163, 177, 198, 0.5),
        -6px -6px 16px rgba(255, 255, 255, 1);

    /* margin: 20px; */
    padding: 20px;
    font-size: 0.85rem;
    color: #7f8c8d;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-icon {
    width: 50px;
    height: 50px;
}

.vision-card {
    display: flex;
    /* width: 80%; */
    justify-content: space-evenly;
    font-family: "Fira Sans", sans-serif;
}

.digital {
    background: #ffffff;
    border-radius: 15px;
    padding: 30px;
    width: 28%;
    font-size: 13px;
    background-color: rgba(84, 144, 245, 0.2);


}

.energy {
    background: #ffffff;
    border-radius: 15px;
    margin-left: 20px;
    padding: 30px;
    width: 28%;
    font-size: 13px;
    background-color: rgba(198, 228, 214, 1);


}

.infrastructure {
    background: #ffffff;
    border-radius: 15px;
    margin-left: 20px;
    padding: 30px;
    width: 28%;
    font-size: 13px;
    background-color: rgba(247, 235, 207, 1);


}

.vision-title {
    margin-top: 70px;
}

.vision-para {
    margin-bottom: 30px;
    color: rgba(14, 14, 14, 0.6);
}

.vision-btn-1 {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    background-color: #5490F5;
    margin-top: 20px;
}

.vision-btn-2 {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    background-color: #09A15C;
    margin-top: 20px;
}

.vision-btn-3 {
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-style: none;
    border-radius: 10px;
    color: #ffffff;
    font-weight: 600;
    background-color: #FFC239;
    margin-top: 20px;
}

.quatiotion {
    background-color: #ffffff;
    border-radius: 15px;
    margin-top: 30px;
    background-image: url("../assets/quote-bg.png");
    background-repeat: no-repeat;
    padding: 20px;
    background-position: 20px 20px;
    background-size: 55px auto;
    padding: 25px 20px 25px 20px;

    box-sizing: border-box;
    /* line-height: 18px; */
}

/* Main section */
.table-section h2 {
    margin-top: 70px;
    font-size: 28px;
}


/* White box around table */
.table-container {
    background-color: #ffffff;
    padding: 23px;
    border-radius: 12px;
}


/* Table */
table {
    width: auto;
    border-collapse: collapse;
    border: 1px solid #d5d5d5;
}


/* Header */
.table-data th {
    background-color: rgba(198, 228, 214, 1);
    padding: 17px;
    text-align: left;
    border: 1px solid #b8cfc4;
}


/* Question column */
.table-faqs td:first-child {
    width: 40%;
}


/* Opinion column */
.table-faqs td:last-child {
    width: 10%;
    text-align: center;
}


/* Table rows */
.table-faqs td {
    padding: 16px;
    border: 1px solid #d5d5d5;
    font-size: 13px;
    font-weight: 600;
}


/* Button */
.table-faqs button {
    background-color: #c6e4d6;
    border: 1px solid #555;
    border-radius: 4px;

    padding: 8px 12px;

    font-size: 12px;
    font-weight: 600;

    cursor: pointer;

    min-width: 110px;
}


/* Arrow */
.table-faqs button span {
    font-size: 18px;
    margin-left: 12px;
}

.news-card {
    display: flex;
    flex-direction: column;
    font-family: "Fira Sans", sans-serif;
}

.primary-card {
    display: flex;

    width: auto;
    max-width: 1500px;

    background-color: #ffffff;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 15px;
    align-items: flex-start;
    box-sizing: border-box;
}

.card-images-satalite {
    width: 350px;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
    flex-shrink: 0;
    /* margin-top: 25px; */
}

.aljagira {
    width: 90px;
    height: 30px;
    margin-top: -20px;
    object-fit: fill;
}

.card-containers {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    flex: 1;
    margin-top: -20px;
    
    
}

.news-btn{
    border: 15px;
    padding: 10px;
    text-align: center;
    background-color: #006A50;
    font-weight: 600;
    color: #ffffff;
    width: 120px;
    border-radius: 8px;
}

.card-paras{
    color: rgba(14, 14, 14, 0.6);
    
}

.donation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.donation-card-box{
    display: flex;
    flex-direction: row;
}
.donation-card{
    /* width: auto; */
    /* height: 60px; */
    padding: 0 20px;
    font-size: 18px;
    justify-content: space-evenly;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 5px;

}

.amount-input{
    

     width: 60%;
    height: 60px;
    margin: 0 auto;
    box-sizing: border-box;

    border: none;
    border-bottom: 1px solid #ddd;

    background-color: #fff;

    text-align: center;
    font-size: 16px;
    color: #333;
    
}